<div class="carousel">
    <img src="{{CarouselImgSrc}}">
    <div class="footer">
        <div class="img-desc flex-container flex-justify-space-evenly display-flex">
            <h1 class="flex-item">{{CarouselDesc}}</h1>
            <button class="flex-item learn-more">Learn More</button>
        </div>
        <div class="carousel-caption flex-container flex-justify-space-evenly display-flex">
            <span class="flex-item" *ngFor="let item of Carousel let i = index" (click)="changeCarousel(item); ">
        <span class="numeric ">
          0{{i +1}}
        </span> {{item.description}}
            </span>

        </div>
    </div>
</div>
<div class="parent">
    <div>
        <ng-content select="[leftPane]"></ng-content>
    </div>
    <div>
        <ng-content select="[rightPane]"></ng-content>
    </div>
</div>
<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
    <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>