.carousel {
    display: flex;
    height: 100%;
    align-self: center;
    position: relative;
}

.carousel img {
    max-width: 100%;
    flex: 1 1 auto;
    height: 500px;
}

.carousel .footer {
    height: 100px;
    position: absolute;
    color: white;
    bottom: 0;
    background: black;
    width: 100%;
    opacity: .7;
}