<!-- <div class="carousel"> -->
<!-- <img src="{{CarouselImgSrc}}">
    <div class="footer">
        <div class="img-desc flex-container flex-justify-space-evenly display-flex">
            <h1 class="flex-item">{{CarouselDesc}}</h1>
            <button class="flex-item learn-more">Learn More</button>
        </div>
        <div class="carousel-caption flex-container flex-justify-space-evenly display-flex">
            <span class="flex-item" *ngFor="let item of Carousel let i = index" (click)="changeCarousel(item); ">
        <span class="numeric ">
          0{{i +1}}
        </span> {{item.description}}
            </span>
        </div>
    </div> -->
<section>
    <img class="bottom" src="https://mediadc.brightspotcdn.com/dims4/default/b1b254f/2147483647/strip/true/crop/1920x1080+0+0/resize/1920x1080!/quality/90/?url=https%3A%2F%2Fmediadc.brightspotcdn.com%2F74%2F73%2F4c2b67b3e5e6fdc65dff3dedebb6%2F74aa12b9888e1ff8c6c5feb7f3f51268.jpg">
    <img class="top" src="https://img.purch.com/h/1000/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzA3My85MTUvb3JpZ2luYWwvZmFsY29uLWhlYXZleS1zcGFjZXgtYnVpbGRpbmcuanBn">
</section>
<!-- </div> -->