<div class="cards">
    <section class="card">
        <header>
            Header
        </header>
        <ul>
            <li>li 1</li>
            <li>li 2</li>
            <li>li 3</li>
        </ul>
        <button>button</button>
    </section>
</div>
<div class="cards">
    <section class="card">
        <header>
        </header>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <button></button>
    </section>
</div>
<div class="cards">
    <section class="card">
        <header>
        </header>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <button></button>
    </section>
</div>