.card-shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.card-spacing {
    margin: .75em;
}

.thumbnail img {
    height: 150px;
}

.center-text {
    text-align: center;
}

@media (max-width: 800px) {
    .card {
        flex-direction: column;
    }
}