<div class="footer flex-container">
    <div class="flex-item flex-grow-1">
    </div>
    <div class="flex-item flex-grow-1">
        <ul>
            <li>li1</li>
            <li>li1</li>
            <li>li1</li>
        </ul>
    </div>
    <div class="flex-item flex-grow-1">
        <ul>
            <li>li1</li>
            <li>li1</li>
            <li>li1</li>
        </ul>
    </div>
    <div class="flex-item flex-grow-1">
        <ul>
            <li>li1</li>
            <li>li1</li>
            <li>li1</li>
        </ul>
    </div>
    <div class="flex-item flex-grow-1">
        <ul>
            <li>li1</li>
            <li>li1</li>
            <li>li1</li>
        </ul>
    </div>
    <div class="flex-item flex-grow-1"></div>
</div>