<div class="footer flex-container">
    <div class="flex-item flex-grow-3">
    </div>
    <div class="flex-item flex-grow-1 right-border">
        <ul>
            <th>Rockets & Spacecraft</th>
            <li>Falcon 9</li>
            <li>Falcon Heavy</li>
            <li>Dragon</li>
        </ul>
    </div>
    <div class="flex-item flex-grow-1 right-border">
        <ul>
            <th>Updates</th>
            <li>News</li>
            <li>Launch Mainfest</li>
        </ul>
    </div>
    <div class="flex-item flex-grow-1 right-border">
        <ul>
            <th>About Spacex</th>
            <li>Company</li>
            <li>Careers</li>
            <li>Gallery</li>
            <li>Shop</li>
        </ul>
    </div>
    <div class="flex-item flex-grow-1">
        <ul>
            <div><img class="logo" src="src/app/img/spacexlogopng.png" alt="Home"></div>
            <span>Rocket Road</span>
            <span>Hawthorne, California</span>
        </ul>
    </div>
    <div class="flex-item flex-grow-3"></div>
</div>
<div class="footer-social flex-container flex-space-between">
    <div class="flex-item flex-grow-2"></div>
    <div class="flex-item flex-grow-1"><span><span class="follow-spacex">Follow Spacex |</span> Twitter Youtube Flickr Instagram
        </span>
    </div>
    <div class="flex-item flex-grow-1 copyright"><span>&copy; 2017 Space Exploration Technoligies Corp.</span></div>
    <div class="flex-item flex-grow-2"></div>
</div>