.gallery {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    margin: 10px;
    box-shadow: 4px 7px 45px -10px rgba(0, 0, 0, 0.4);
    border-radius: 7px;
}

.carousel {
    display: flex;
    height: 100%;
    /* flex-wrap: wrap; */
    align-self: center;
    /* max-width: 100%; */
}

.carousel img {
    max-width: 100%;
    flex: 1 1 auto;
    height: calc(100vh - 75px);
}

app-nav {
    width: 100%;
}