.nav {
    height: 150px;
    width: 100%;
}

.logo {
    width: 250px;
    height: 150px;
}

.nav-spacing {
    padding: 0 .5em;
}

.flex-item {
    justify-content: space-around;
}

.flex-container {
    justify-content: center;
}

.flex-container a {
    text-transform: uppercase;
    font-size: 14px;
}