<div class="nav">
    <div class="nav-bg">
        <div class="flex-container" style="display: flex">
            <div class="main-nav">
                <img class="nav-spacing logo" src="src/app/img/spacexlogopng.png" alt=" Home ">
                <a class="flex-item nav-spacing" href="http://www.google.com">Falcon 9</a>
                <a class="flex-item nav-spacing" href="http://www.google.com">Falcon Heavy</a>
                <a class="flex-item nav-spacing" href="http://www.google.com">Dragon</a>
                <a class="flex-item nav-spacing" href="http://www.google.com">Updates</a>


                <a class="flex-item nav-spacing about-separation" href="http://www.google.com">About Spacex</a>
                <a class="flex-item nav-spacing" href="http://www.google.com">Careers</a>
                <a class="flex-item nav-spacing" href="http://www.google.com">Gallery</a>
                <a class="flex-item nav-spacing" href="http://www.google.com">Shop</a>
            </div>
        </div>
    </div>
</div>