<div class="nav">
    <div class="nav-bg">
        <div class="flex-container" style="display: flex">
            <div class="main-nav">
                <img class="logo" src="src/app/img/spacexlogopng.png" alt=" Home ">
                <a class="flex-item" href="http://www.google.com">Falcon 9</a>
                <a class="flex-item" href="http://www.google.com">Falcon Heavy</a>
                <a class="flex-item" href="http://www.google.com">Dragon</a>
                <a class="flex-item" href="http://www.google.com">Updates</a>

                <div class="nav-right flex-item inline-flex nav-right">
                    <a class="flex-item about-separation" href="http://www.google.com">About Spacex</a>
                    <a class="flex-item" href="http://www.google.com">Careers</a>
                    <a class="flex-item nav-gallery" href="http://www.google.com">Gallery</a>
                    <span class="shop-border"><a class="flex-item" href="http://www.google.com">Shop</a></span>
                </div>
            </div>
        </div>
    </div>
</div>