/* You can add global styles to this file, and also import other style files */

body {
    height: 100%;
    margin: 0;
}


/* flex-box */

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-justify-space-evenly {
    justify-content: space-evenly;
}

.flex-justify-center {
    justify-content: center;
}

.display-flex {
    display: flex;
}

.flex-container {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}